<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.webServer>
    <httpProtocol>
      <customHeaders>


      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding name="WebConfiguration"
                 maxBufferSize="65536"
                 maxReceivedMessageSize="2000000000"
                 transferMode="Streamed">
        </binding>
      </webHttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="Metadata" name="WCFSymendsTest.WCFSymendsTest">
        <endpoint address=""
          binding="webHttpBinding" contract="WCFSymendsTest.IService1" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:52003/WCFSymendsTest/WCFSymendsTest/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="Metadata">
          <serviceMetadata
            httpGetEnabled="true"
            httpGetUrl=""
            />
          <serviceDebug includeExceptionDetailInFaults="true" />

        </behavior>
        <behavior  name="Throttled">
          <serviceThrottling
            maxConcurrentCalls="1"
            maxConcurrentSessions="1"
            maxConcurrentInstances="1"
          />

        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior>
          <webHttp />
        </behavior>

      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>

  <connectionStrings>
    <add name="symendsMySQL" connectionString="SERVER=10.1.3.60; DATABASE=symendsapp; UID=symendsDemo; PASSWORD=84_?5a6hWUE$rWY; default command timeout=0;"  />
  </connectionStrings>

  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.8.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
</configuration>
